
/html-nwjs/.tmp
/html-nwjs/aws.xml
/html-nwjs/files.txt
/html-nwjs/hashes.txt
/html-nwjs/linux/x86/*
!/html-nwjs/linux/x86/.download_hash
/html-nwjs/linux/x86_64/*
!/html-nwjs/linux/x86_64/.download_hash
/html-nwjs/osx/x86_64/*
!/html-nwjs/osx/x86_64/.download_hash
/html-nwjs/windows/x86/*
!/html-nwjs/windows/x86/.download_hash
/html-nwjs/windows/x86_64/*
!/html-nwjs/windows/x86_64/.download_hash

/html-webview/.tmp

/node/.tmp
/node/SHASUMS256.txt
/node/linux/arm/node
/node/linux/x86/node
/node/linux/x86_64/node
/node/osx/x86_64/node
/node/windows/x86/node.exe
/node/windows/x86_64/node.exe

