[Desktop Entry]
Name=__NAME__
Comment=__NAME__ (built with lychee.js)
Type=Application
Terminal=false
Exec=__NAME__
Icon=/usr/share/__NAME__/icon.png
StartupNotify=true
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Title=__NAME__
X-Ubuntu-Splash-Color=#404948
X-Ubuntu-Splash-Image=/usr/share/__NAME__/lycheejs.svg
X-Ubuntu-Default-Department-ID=internet

