Package: __NAME__
Version: 1.0.0
Architecture: all
Maintainer: Artificial Engineering <robot@artificial.engineering>
Installed-Size: __SIZE__
Depends: webapp-container
Section: misc
Homepage: https://lychee.js.org
Description: __NAME__ (built with lychee.js)

